/* Begin Footer.css */
.footer {
  width: 100%;
  background-color: var(--footer-color);
  text-align: center;
  padding: 60px 0px;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  
  -webkit-user-select: none; /* Make text non-selectable Safari */
  -moz-user-select: none; /* Make text non-selectable Firefox */
  -ms-user-select: none; /* Make text non-selectable IE10+/Edge */
  user-select: none; /* Make text non-selectable Standard */
}
/* End Footer.css */
